.flex-wrap-start {
    margin-top: 0.5em;
    /* display: flex;
  flex-wrap: wrap; */
    gap: 1em;
    justify-content: flex-start;
}

.gta5-card {
    background: linear-gradient(135deg, #f7fcfc 60%, #e3f6fd 100%, #fceabb 0%);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(44, 62, 80, 0.08);
    padding: 1em 1.2em 0.7em 1.2em;
    margin: 0.2em 0;
    transition: box-shadow 0.18s, transform 0.15s;
    align-items: center;
}

.gta5-video {
    width: 70%;
    height: auto;
    border-radius: 10px;  
    margin: 0.5em auto;
  display: block;

}

/* .color1 {
    background: linear-gradient(135deg, #f6c5b5 0%, #38f9d7 100%);
}

.color2 {
    background: linear-gradient(135deg, #b2bff9 0%, #764ba2 100%);
}

.color3 {
    background: linear-gradient(135deg, #efe0cf 0%, #3b7db8 100%);
}

.color4 {
    background: linear-gradient(135deg, #eddbc2 0%, #fcb69f 100%);
}

.color5 {
    background: linear-gradient(135deg, #43cea2 0%, #185a9d 100%);
}

.color6 {
    background: linear-gradient(135deg, #f3acb3 0%, #72363e 100%);
} */